.main_container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}

.container {
    padding: 10px;
}

.container-bottom {
    text-align: right;
    margin-top: 5px;
}

.container-bottom .el-pagination {
    display: inline-block;
}

.container-bottom .el-button {
    float: left;
}

.header {
		height: 60px;
		line-height: 60px;
		background:#20a0ff;
		color:#fff;
		text-align: left;
}

.header-right {
    float: right;
    height: 100%;
    line-height: 65px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
		text-align: left;
		height:60px;
		font-size: 20px;
		padding-left:20px;
		padding-right:20px;
		border-color: rgba(238,241,146,0.3);
		border-right-width: 1px;
		border-right-style: solid;	
}

.logo-width{
		width:260px;
}

.logo-collapse-width{
		width:60px
}	

.tools{
	padding: 0px 23px;
	width:14px;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
}

.userinfo {
	text-align: right;
	padding-right: 35px;
	float: right;
}

.body {
    margin: 0;
    padding: 0;
}

.body .body-middle {
    width: 100%;
    height: 100%;
    float: left;
}

.submenu-container {
    margin: 5px 5px 5px 200px;
}

.submenu-container .el-badge{
    margin: -18px -15px 0 -5px;
}

.submenu-container .el-badge__content{
    border:none;
}

.body .body-inner {
    height: 100%;
    margin-left: 200px;
    margin-right: 10px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0 0 50px #c0e6fa;
}

.body .body-left {
    width: 200px;
    height: 100%;
    background-color: transparent;
    float: left;
    margin-left: -100%;
}

.menu-container {
    width: 190px;
    height: 100%;
    float: left;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px #cccccc;
}

.menu-collapser {
    width: 10px;
    height: 31px;
    float: left;
    top: 45%;
    position: relative;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    color: #ffffff;
    background-color: #008cd7;
}


.search-form .el-form-item {
    margin-bottom: 0;
}

.search-form .el-form-item__label {
	text-align: left;
}

.search-form .el-form-item__content {
    width: 195px;
}

.search-form .el-form-item__content>div {
    width: 100%;
}

.search-form .el-form-item__error {
	display: none;
}

.edit-from .el-form-item__content>div {
    width: 100%;
}

.edit-from.el-form--label-top .el-col .el-form-item {
    width: 100%;
}

.container {
    padding: 10px;
}

.container-bottom {
    text-align: right;
    margin-top: 5px;
}

.container-bottom .el-pagination {
    display: inline-block;
}

.container-bottom .el-button {
    float: left;
}

/******************************覆盖原有组件样式******************************/
.el-collapse {
    margin-top: 10px;
    margin-bottom: 10px;
}

.el-collapse-item__header {
    height: 33px;
    line-height: 33px;
}