<div class="son_container">
	<el-breadcrumb separator="/">
	  <el-breadcrumb-item>权限管理</el-breadcrumb-item>
	  <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
	</el-breadcrumb>

	<el-collapse value="search" @change="collapseSearchChange">
		 <el-collapse-item name="search">
		 	<template slot="title">
		 		查询条件
		 	</template>
		 	<el-form class="search-form" :inline="true" :model="dataSearch" label-width="80px" >
			<el-form-item label="菜单名称" prop="menuName">
			    <el-input  v-model="dataSearch.menuName" size="small"></el-input>
			  </el-form-item>
			  <el-form-item>
			    <el-button type="primary" @click="currentPage=1;search();">查询</el-button>
			  </el-form-item>
			  <el-form-item style="float:right;text-align:right">
			    <el-button type="primary" @click="addMenu" size="small"><span class="fa fa-plus"></span>增加数据</el-button>
			  </el-form-item>
			</el-form>
		 </el-collapse-item>
	</el-collapse>
	 <el-table 
	 	ref="tableData"  
		:data="dataMenu" 
		:height="tableHeight"  
		border 
		stripe 
		highlight-current-row>
	      <el-table-column property="id" label="功能ID"  width="100" align="center"></el-table-column>
	      <el-table-column property="parentId" label="父菜单ID"  width="100" align="center"></el-table-column>
	      <el-table-column property="icon" label="菜单图标"  width="150" align="center"></el-table-column>
	      <el-table-column property="functionName" label="功能名称"  width="150" align="center"></el-table-column>
	      <el-table-column property="functionUrl" label="功能链接地址"  width="300" align="center"></el-table-column>
	      <el-table-column property="label" label="菜单名称"  width="150" align="center"></el-table-column>
	      <el-table-column label="操作"  width="70" align="center" fixed="right">
	      	<template slot-scope="scope">
	      		<el-tooltip effect="light" content="编辑" >
			      <el-button @click="editMenu(scope.row)" type="text" size="small" ><span class="fa fa-edit"></span></el-button>
			    </el-tooltip>
			    <el-tooltip effect="light" content="删除" >
			      <el-button @click="deleteMenu(scope.row)" type="text" size="small" ><span class="fa fa-trash"></span></el-button>
			    </el-tooltip>
	      	</template>
	      </el-table-column>
    </el-table>
    
    <div class="container-bottom">
	    	<el-pagination layout="total,prev,pager,next,jumper"
	    	:pageSize="pageSize"
	    	:current-page.sync="currentPage"
	    	:total="total"
	    	@current-change="search" >
    	</el-pagination>
    </div>
    
    
   	<el-dialog title="新增" :visible.sync="showAddDialog">
  		<el-form :model="addingMenu" class="edit-from" label-position="top">
  			<el-row :gutter="20">
  				<el-col :span="12">
  					<el-form-item label="父菜单" prop="parentName" required>
  						<el-dropdown trigger="click">
  						  	<el-input  v-model="addingMenu.parentName" @focus="blur($event)" placeholder="请选择父菜单"></el-input>
						      <el-dropdown-menu slot="dropdown" style="width:250px;height:300px;overflow:auto;">
						       	<el-tree
						       		:data="menuTreeData"
						       		:props="menuTreeProps"
						       		@node-click="onClickMenuNode"
						       		:expand-on-click-node="false"
						       		highlight-current></el-tree>
						      </el-dropdown-menu>
						 </el-dropdown>
  					</el-form-item>
  				</el-col>
  				<el-col :span="12">
  					<el-form-item label="功能名称" prop="functionCodes" required>
  						<el-select v-model="addingMenu.functionCodes" @change="functionCodesChange"  multiple filterable placeholder="请选择功能" class="nowrap-select">
  							<el-option 
  								v-for="func in functions"
  								:key="func.id"
  								:label="func.name"
  								:value="func.id"></el-option>
  						</el-select>
  					</el-form-item>
  				</el-col>
  			</el-row>
  		</el-form>
  		<el-table
  			:data="addingMenu.menus"
  			:height="200"
  			border
  			stripe
  			highlight-current-row>
	      	<el-table-column property="functionName" label="功能名称"  width="150" align="center"></el-table-column>
	      	<el-table-column property="icon_create" label="菜单图标"  width="120" align="center">
	      		<template slot-scope="scope">
	      			<el-input  v-model="scope.row.icon_create" size="small"></el-input>
	      		</template>
	      	</el-table-column>
	      	<el-table-column property="label_create" label="菜单名称"  min-width="170" align="center">
	      		<template slot-scope="scope">
	      			<el-input  v-model="scope.row.label_create" size="small"></el-input>
	      		</template>
	      	</el-table-column>
  		</el-table>
  		<div slot="footer" align="center" >
  			<el-button @click="saveMenu()" type="primary">确认</el-button>
  			<el-button @click="showAddDialog=false" >取消</el-button>
  		</div>
	</el-dialog>
	
	  	<el-dialog title="修改" :visible.sync="showEditDialog">
  		<el-form ref="editForm" :model="editingMenu" :rules="rules" class="edit-from" label-position="top">
  			<el-row :gutter="20">
  				<el-col :span="12">
  				  	<el-form-item label="菜单ID" prop="id">
  				  		<el-input  v-model="editingMenu.id" :disabled="true"></el-input>
  					</el-form-item>
  				</el-col>
  			</el-row>
  			<el-row :gutter="20">
  				<el-col :span="12">
  					<el-form-item label="父菜单" prop="parentName" required>
  						<el-dropdown trigger="click">
  						  	<el-input  v-model="editingMenu.parentName" @focus="blur($event)" placeholder="请选择父菜单"></el-input>
						      <el-dropdown-menu slot="dropdown" style="width:250px;height:300px;overflow:auto;">
						       	<el-tree
						       		:data="menuTreeData"
						       		:props="menuTreeProps"
						       		@node-click="onClickMenuNode"
						       		:expand-on-click-node="false"
						       		highlight-current></el-tree>
						      </el-dropdown-menu>
						 </el-dropdown>
  					</el-form-item>
  				</el-col>
  				<el-col :span="12">
  					<el-form-item label="功能名称" prop="code" required>
  						<el-select v-model="editingMenu.code" filterable placeholder="请选择功能" >
  							<el-option 
  								v-for="func in functions"
  								:key="func.id"
  								:label="func.name"
  								:value="func.id"></el-option>
  						</el-select>
  					</el-form-item>
  				</el-col>
  			</el-row>
  			<el-row :gutter="20">
  				<el-col :span="12">
  				  	<el-form-item label="菜单图标" prop="icon" >
  				  		<el-input  v-model="editingMenu.icon"></el-input>
  					</el-form-item>
  				</el-col>
  				<el-col :span="12">
  				  	<el-form-item label="菜单名称" prop="label" required>
  				  		<el-input  v-model="editingMenu.label"></el-input>
  					</el-form-item>
  				</el-col>
  			</el-row>
  		</el-form>
  		<div slot="footer" align="center" >
  			<el-button @click="saveMenu()" type="primary">确认</el-button>
  			<el-button @click="showEditDialog=false" >取消</el-button>
  		</div>
	</el-dialog>
	
</div>